@import "tailwindcss";

:root {
  font-family: Arial, sans-serif;
  background-color: #141414;
  margin: 0;
  color: #fff;
  --primary-color: #64748b;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
