@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark));

:root {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #141414;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
